.dashboardHeader {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

.calendar {
  font-family: Arial, sans-serif;
  width: 2000px;
  margin: 0 auto;
  border: 3px solid #000000;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:snow;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  background-color: #F0F0F0;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 50px;
  position: relative; 
  height: 80px;
  width: 160px;
  overflow-y: auto;
}

.day-number {
  font-weight: bold;
  color: #3A9AD9;
  position: absolute;
  top: 5px;
  left: 5px;
}

.empty-day {
  visibility: hidden;
}

.calendar-day ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  left: 5px;
  width: 235px;
}

.calendar-day ul li {
  font-size: 14px;
}

.bookingDetails {
  padding: 5px 0;
  cursor: pointer;
}

.bookingDetails.selected {
  background-color: #D6E4F0;
  border: 1px solid #86B9D3;
  border-radius: 8px;
  width: 230px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttonContainer button {
  margin: 0 10px;
}

.delete, .clear {
  padding: 8px 16px;
  background-color: #E12744;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
}

.delete:hover, .clear:hover {
  background-color: #B51D38;
}
