.centered-container {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.booking-content h2 {
  font-size: 28px;
}

.uploadButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #E12744;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

.uploadButton:hover {
  background-color: #B51D38;
}

.browseButton {
  margin-top: 20px;
}

.downloadTemplate {
  margin-top: 20px;
}