.centered-container {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.booking-content h2 {
  margin-bottom: 10px;
}

.booking-content input[type="file"] {
  margin-top: 20px;
  margin-bottom: 10px;
}

.booking-content input[type="file"]::-webkit-file-upload-button {
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
}

.uploadButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #E12744;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

.uploadButton:hover {
  background-color: #B51D38;
}