.container {
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.bookingTitle {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
}

.selection {
    margin: 0 auto;
    width: 450px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.home {
    background-color: #E12744;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 150px;
}

.lecturerSelected {
    color: #000000;
    font-size: 18px;
}
