.header {
  background-color: #CCCCCC;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 10px 0px 20px 0px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 500px;
  height: auto;
}