.navbar {
  height: 50px;
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
}

.leftSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.homeButton {
  color: #FFFFFF;
  font-weight: 500;
  background-color: #E12744;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.navButton:disabled {
  cursor: default;
}

.loggedInName {
  color: black;
  margin-left: 250px;
}

.timer {
  color: maroon;
  margin-left: 10px;
}